@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

body {
  font-family: Roboto, arial, sans-serif;
  background-color: #4d8a5a;
  color: #242424;
  font-size: 1em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #242424;
}

a:hover {
  text-decoration: underline;
  color: #030303;
}

p {
  text-align: justify;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(23,26,33,0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(10,12,23,0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(23,26,33,0.5);
}

audio#rain {
  position: fixed;
  z-index: 10;
  margin: 8px;
  right: 0;
}

img#cover {
  clip: rect(0px, 100vw, 15vh, 0px);
  position: fixed;
  width: 100vw;
}

img#profile {
  border-radius: 15vh;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 15vh;
  z-index: 10;
  top: 7.5vh;
}

img#profile + figcaption {
  top: 7.5vh;
  font-size: 2em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  font-weight: bolder;
  font-family: 'Libre Baskerville', serif;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

header {
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: #4d8a5a;
}

section {
  position: relative;
  top: calc(200px + 20vh);
}

languages {
  position: fixed;
  z-index: 10;
  right: 20px;
  top: 20px;
}

languages img {
  width: 32px;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

languages img:hover {
  cursor: pointer;
  transition: all .25s ease-in-out;
  transform: scale(1.75);
}

languages img:nth-child(even) {
  margin-right: 20px;
  margin-left: 20px;
}

content {
  width: 90vw;
  display: block;
  overflow-y: auto;
  max-width: 800px;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  padding: 8px 32px 8px 32px;
  border-top: 5px solid #e46f61;
}

.center {
  text-align: center;
}

div.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bold {
  font-weight: bolder;
}

menu {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-top: 10vh;
  width: 100%;
  padding: 0;
}

item:nth-child(even) {
  margin-left: 10px;
  margin-right: 10px;
}

item:last-child {
  margin-right: 0px;
}

item i {
  float: left;
  margin-top: 4px;
  margin-left: 18px;
}

div.button.narrow {
  max-width: 60px;
  overflow: hidden;
  white-space:nowrap;
  transition: max-width .25s ease-out .1s;
}

div.button.narrow:hover {
  max-width: 240px;
  transition: max-width .5s ease-out .1s;
}

div.button.narrow span {
  opacity: 0;
  margin-left: 48px;
  margin-right: 18px;
  font-weight: bolder;
  transition: opacity .1s ease-out .1s;
}

div.button.narrow:hover span {
  opacity: 1;
  display: inline;
  transition: opacity .1s ease-out .1s;
}

/* Button */
.button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  color: #646464;
  position: relative;
  display: inline-block;
  line-height: 32px;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 2px;
  min-width: 60px;
  height: 32px;
}

.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden;
}

.grey {
  background-color: #eee;
}

.blue {
  background-color: #4285f4;
  color: #fff;
}

.darkgrey {
  background-color: #444;
  color: #fff;
}

.green {
  background-color: #0f9d58;
  color: #fff;
}

.darkgreen {
  background-color: #315731;
  color: #fff;
}

.button.raised {
  transition-delay: 0.2s;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
